body{
  background-color: beige;
}

h1{
  text-align: center;
}

form{
  text-align: center;
  margin-bottom: 10px;
}

h2{
  text-decoration: underline;
}

.center-results{
  margin: auto;
  width: 25%;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

ul{
  list-style-position: inside;
  text-align: left;
}